.menubar{
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 50w;
    border: 1px solid black;
    justify-content: space-evenly;
}
.home{
    height: 5vh;
    width: 20vw;
    border: 1px solid rgb(37, 1, 241);
    background-color: blue;
    justify-content: space-around;
}
.data1{
    height: 5vh;
    width: 20vw;
    border: 1px solid rgb(37, 1, 241);
    background-color: orangered;
    justify-content: space-around;
}
.data2{
    height: 5vh;
    width: 20vw;
    border: 1px solid rgb(1, 241, 61);
    background-color: rgb(90, 158, 1);
    justify-content: space-around;
}
.conclusion{
    height: 5vh;
    width: 20vw;
    border: 1px solid rgb(37, 1, 241);
    background-color: rgb(234, 0, 255);
    justify-content: center;
}
.skinny{
    display: flex;
    flex-direction: row;
    height: 2.5vh;
    width: 50w;
    border: 1px solid black;
    justify-content: space-around;
}
.home1{
    height: 2vh;
    width: 20vw;
    border: 1px solid rgb(37, 1, 241);
    background-color: rgba(0, 0, 255, 0.164);
    justify-content: space-around;
}
.data11{
    height: 2vh;
    width: 20vw;
    border: 1px solid rgb(37, 1, 241);
    background-color: rgba(255, 68, 0, 0.185);
    justify-content: space-around;
}
.data21{
    height: 2vh;
    width: 20vw;
    border: 1px solid rgb(1, 241, 61);
    background-color: rgba(90, 158, 1, 0.171);
    justify-content: space-around;
}
.conclusion1{
    height: 2vh;
    width: 20vw;
    border: 1px solid rgb(213, 1, 241);
    background-color: rgba(234, 0, 255, 0.212);
    justify-content: center;
}